<div class="tab-content">
  <div class="tab-pane active" id="edit-main" role="tabpanel">
    {{> chunks/edit-app/partials/tab-main}}
  </div>
  <div class="tab-pane" id="edit-db" role="tabpanel">
    {{> chunks/edit-app/partials/tab-db}}
  </div>
  <div class="tab-pane" id="edit-users" role="tabpanel">
    {{> chunks/edit-app/partials/tab-users}}
  </div>
  <div class="tab-pane" id="edit-logs" role="tabpanel">
    <h2>Журнал событий</h2>
    {{#each logs}}
    <div class="account-content_log">
      <div> {{createAt}} </div>
      <div>
        <span>{{recText.res}} — {{recText.user}}</span>
      </div>
    </div>
    {{/each}}
  </div>

  {{> chunks/edit-app/partials/modal}}
</div>