<div class="tab-content">
    <div class="tab-pane active" id="edit-main" role="tabpanel">
       {{> chunks/edit-app/partials/tab-main}}
    </div>
    <div class="tab-pane" id="edit-db" role="tabpanel">
        {{> chunks/edit-app/partials/tab-db}}
    </div>
    <div class="tab-pane" id="edit-view" role="tabpanel">
        {{> chunks/edit-app/partials/tab-view}}
    </div>
    <div class="tab-pane" id="edit-stats" role="tabpanel">
        DISABLE2
    </div>
    <div class="tab-pane" id="edit-logs" role="tabpanel">
        DISABLE3
    </div>

    {{> chunks/edit-app/partials/modal}}
</div>