<h1 class="display-6 container-header">Регистрация Вашего приложения</h1>
<div id="stepper1" class="bs-stepper linear">
    {{> chunks/register-app/partials/reg/header}}
    <div class="bs-stepper-content" id="regAppForm">
        <form onsubmit="return false" id="register-app_form">
            <div id="test-l-1" role="tabpanel" class="content active" aria-labelledby="stepper1trigger1">
                {{> chunks/register-app/partials/reg/step_1}}
            </div>
            <div id="test-l-2" role="tabpanel" class="content" aria-labelledby="stepper1trigger2">
                {{> chunks/register-app/partials/reg/step_2}}
            </div>
            <div id="test-l-3" role="tabpanel" class="content" aria-labelledby="stepper1trigger3">
                {{> chunks/register-app/partials/reg/step_3}}
            </div>
            <div id="test-l-4" role="tabpanel" class="content" aria-labelledby="stepper1trigger4">
                {{> chunks/register-app/partials/reg/step_4}}
            </div>
            <div id="test-l-5" role="tabpanel" class="content" aria-labelledby="stepper1trigger5">
                {{> chunks/register-app/partials/reg/step_5}}
            </div>
        </form>
    </div>
</div>