<div class="account content-padding">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3">
                {{#block "lk-menu"}}{{/block}}
            </div>
            <div class="col-12 col-lg-9 d-flex align-self-stretch">
                <div class="account-content border">
                    {{#block "lk-content"}}{{/block}}
                </div>
            </div>
        </div>
    </div>
</div>
