<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Account Password Changer</h1>
        <p class="lead">Удаленно обеспечивает безопасность аккаунтов пользователей Вашего ресурса</p>
    </div>
</div>

 