<div class="how-it-works">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <h2 class="container-header">Как это работает?</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut maiores fugiat molestiae? Quibusdam obcaecati ullam adipisci fuga, beatae in unde, tempora voluptatem dolore numquam error expedita similique voluptatibus perspiciatis nesciunt.</p>
                </div>
            </div>
        </div>
    </div>