<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>    Главная
</title>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/main.css"/></head>
<body>

<div class="main-content--wrap">

    <header class="header">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand" href="/">APC</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
         
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#">Подключить сайт</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Настройки сайтов</a>
              </li>
            </ul>
            <a class="nav-link" href="/user/nickname">nickname</a>
            <a class="btn btn-primary btn-sm active" href="/logout" role="button">Выйти</a>
          </div>
        </div>
      </nav>
    </header>
    <div class="content"><!-- dynamic content of every page -->

            <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">Account Password Changer</h1>
            <p class="lead">Удаленно обеспечивает безопасность аккаунтов пользователей Вашего ресурса</p>
        </div>
    </div>
    
         <div class="how-it-works">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-12">
                        <h2 class="container-header">Как это работает?</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut maiores fugiat molestiae? Quibusdam obcaecati ullam adipisci fuga, beatae in unde, tempora voluptatem dolore numquam error expedita similique voluptatibus perspiciatis nesciunt.</p>
                    </div>
                </div>
            </div>
        </div>    <div class="benefits">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="row ">
                        <div class="col-12 col-md-4">
                            <div class="card-body">
                                <h5 class="card-title">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="si-glyph-global">
                                            <use xlink:href="img/svg/sprite.svg#si-glyph-global" />
                                        </svg>
                                </h5>
                                <h6 class="card-subtitle mb-2 text-muted">Удаленно</h6>
                                <p class="card-text">Мы все сделаем за Вас</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="si-glyph-timer">
                                        <use xlink:href="img/svg/sprite.svg#si-glyph-timer" />
                                    </svg>
                                </h5>
                                <h6 class="card-subtitle mb-2 text-muted">Быстро</h6>
                                <p class="card-text">Высоская скорость работы</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="si-glyph-lock">
                                        <use xlink:href="img/svg/sprite.svg#si-glyph-lock" />
                                    </svg>
                                </h5>
                                <h6 class="card-subtitle mb-2 text-muted">Безопасно</h6>
                                <p class="card-text">Шифрование данных</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    <div class="stages">
        <div class="container">
            <h2 class="container-header">Этапы подключения</h2>
            <div class="step step-active">
                <div>
                    <div class="circle">1</div>
                </div>
                <div>
                    <div class="title">Вы регистрируете свой сайт в нашей платформе</div>
                    <div class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.</div>
                </div>
            </div>
            <div class="step step-active">
                <div>
                    <div class="circle">2</div>
                </div>
                <div>
                    <div class="title">Выполняете настройки по инструкции для своего сайта</div>
                    <div class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.</div>
                </div>
            </div>
            <div class="step step-active">
                <div>
                    <div class="circle">3</div>
                </div>
                <div>
                    <div class="title">Profit!</div>
                    <div class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.</div>
                </div>
            </div>
            <div class="col-12">
                <div class="d-flex justify-content-center align-items-center free-space">
                    <a href="!#" class="btn btn-success" role="button">Подключить сайт!</a>
                </div>
            </div>
        </div>
    </div>    <div class="confidentialy">
        <div class="container">
            <div class="row">
                <div class="col-12">
                        <h2 class="container-header">Конфиденциальность и безопасность</h2>
                        <p>Согласно Федеральному закону № 152-ФЗ «О персональных данных» под персональными данными подразумевается любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).</p>
                        <div class="accordion" id="accordionExample">
                         <div class="card">
                           <div class="card-header" id="headingOne">
                             <h5 class="mb-0">
                               <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                 Что подразумевается под обработкой персональных данных?
                               </button>
                             </h5>
                           </div>
                       
                           <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                             <div class="card-body">
                                 Согласно закону №152-ФЗ «О персональных данных» под обработкой персональных данных подразумевается любое действие или совокупность действий с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение.
                             </div>
                           </div>
                         </div>
                         <div class="card">
                           <div class="card-header" id="headingTwo">
                             <h5 class="mb-0">
                               <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                 Каким образом обеспечивается безопасность передаваемых данных?
                               </button>
                             </h5>
                           </div>
                           <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                             <div class="card-body">
                               Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                             </div>
                           </div>
                         </div>
                         <div class="card">
                           <div class="card-header" id="headingThree">
                             <h5 class="mb-0">
                               <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                 Collapsible Group Item #3
                               </button>
                             </h5>
                           </div>
                           <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                             <div class="card-body">
                               Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                             </div>
                           </div>
                         </div>
                       </div>
                </div>
            </div>
        </div>
    </div>

    </div>

    <footer class="border-top">
        <h4> <a href="https://apc.ru">https://apc.ru</a> © 2018 all rights reserved</h4>
    </footer></div>


<script type="text/javascript" src="/js/main.js"></script>

</body>
</html>