{{#extend "layouts/base"}}
{{#content "title"}}
Add site
{{/content}}

{{#content "content"}}
    <div class="col-12">
        <div class="container register-app">
            <div class="row">
                {{> chunks/register-app/register-app-content}}
            </div>
        </div>
    </div>
{{/content}}
{{/extend}}