
{{#content "title"}}
    Регистрация
{{/content}}

{{#content "content"}}
    <form action="/auth/signup" method="post">
            <input type="text" name="username">
            <input type="password" name="password">
            <input type="submit" name="login">
    </form>
{{/content}} 
