<div class="bs-stepper-header" role="tablist">
    <div class="step active" data-target="#test-l-1">
        <button type="button" class="btn btn-link step-trigger" role="tab" id="stepper1trigger1" aria-controls="test-l-1"
            aria-selected="true">
            <span class="bs-stepper-circle">1</span>
            <span class="bs-stepper-label">Регистрация сайта</span>
        </button>
    </div>
    <div class="line"></div>
    <div class="step" data-target="#test-l-2">
        <button type="button" class="btn btn-link step-trigger" role="tab" id="stepper1trigger2" aria-controls="test-l-2"
            aria-selected="false" disabled="disabled">
            <span class="bs-stepper-circle">2</span>
            <span class="bs-stepper-label">Подтверждение</span>
        </button>
    </div>
    <div class="line"></div>
    <div class="step" data-target="#test-l-3">
        <button type="button" class="btn btn-link step-trigger" role="tab" id="stepper1trigger3" aria-controls="test-l-3"
            aria-selected="false" disabled="disabled">
            <span class="bs-stepper-circle">3</span>
            <span class="bs-stepper-label">База данных</span>
        </button>
    </div>
    <div class="line"></div>
    <div class="step" data-target="#test-l-4">
        <button type="button" class="btn btn-link step-trigger" role="tab" id="stepper1trigger4" aria-controls="test-l-3"
            aria-selected="false" disabled="disabled">
            <span class="bs-stepper-circle">4</span>
            <span class="bs-stepper-label">Готово</span>
        </button>
    </div>
</div>