<div class="alert text-center" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" class="si-glyph-checked">
        <use xlink:href="img/svg/sprite.svg#si-glyph-checked" />
    </svg>
    <h4 class="alert-heading">Проверьте правильность введеных Вами данных!</h4>
    <p>После чего сохраните изменения!</p>
    {{!-- <p>Вы успешно зарегистрировали Ваше приложение. Осталось выполнить настройки на стороне Вашего приложения. </p> --}}

    <div id="app-info"></div>

    <hr>
    <p>
        <div class="btn-contolls d-flex justify-content-center">
            <button type="submit" class="btn btn-secondary btn-prev">Назад</button>
            <button type="submit" class="btn btn-success btn-next res-step-4" data-action="saveData">Сохранить</button>
        </div>
    </p>
</div>