<div class="alert text-center" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" class="si-glyph-checked">
            <use xlink:href="img/svg/sprite.svg#si-glyph-checked" />
        </svg>
    <h4 class="alert-heading">Почти все готово!</h4>
    <p>Вы успешно зарегистрировали Ваше приложение. Осталось выполнить настройки на стороне Вашего приложения. </p>
    <hr>
    <p class="mb-0">Перейти в <a href="#">настройки</a> или открыть <a href="#">Документацию</a></p>
</div>