<h2>Данные от БД</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse perferendis amet distinctio asperiores
    eum dolores. Facilis, ad culpa! Neque culpa minus, sequi ad eaque voluptas rerum recusandae hic optio
    similique.</p>

<div class="step_3">
    <div class="form-group">
        <label for="step_3-host">Host</label>
        <input class="form-control" id="step_3-host" name="step_3-host" type="text" placeholder="http://vk.com" value="http://vk.com">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="step_3-user">DB User</label>
            <input type="text" class="form-control" id="step_3-user" name="step_3-user" placeholder="User">
        </div>
        <div class="form-group col-md-6">
            <label for="step_3-password">DB Password</label>
            <input type="password" class="form-control" id="step_3-password" name="step_3-password" placeholder="Password">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="step_3-table-name">Имя таблицы с пользователями</label>
            <input type="text" class="form-control" id="step_3-table-name" name="step_3-table-name" placeholder="users_table" >
        </div>
        <div class="form-group col-md-3">
            <label for="step_3-db-port">Порт</label>
            <input type="text" class="form-control" id="step_3-port" name="step_3-db-port" placeholder="8000" >
        </div>
        <div class="form-group col-md-3">
            <label for="step_3-db-type">DB type</label>
            <select id="step_3-db-type" name="step_3-db-type" class="form-control">
                <option disabled selected="selected">Не выбрано</option>
                <option value="Mysql">Mysql</option>
                <option value="Mssql">Mssql</option>
                <option value="MongoDB">MongoDB</option>
                <option value="PostgreSQL">PostgreSQL</option>
            </select>
        </div>
    </div>
    <div class="result-message-3"> </div>
    <div class="btn-contolls d-flex justify-content-start">
        <button type="submit" class="btn btn-secondary btn-prev">Назад</button>
        <button class="btn btn-primary btncheckDBData" data-action="checkDBData">Тест соединения</button>
        <button type="submit" class="btn btn-success btn-next res-step-3 d-none">Далее</button>
    </div>
    
</div>