<h2>Зарегистрировать сайт</h2>
<div class="form-group">
    <label for="url">Ссылка на сайт</label>
    http://test.ru
    <input type="url" name="formDomainName" class="form-control" id="formDomainName" placeholder="http://domainname.ru">
    <div class="box-messages"></div>
    <div class="result-message-1"> </div>
</div>
<div class="btn-contolls d-flex justify-content-start">
    <button class="btn btn-primary btnCheckDomainName" data-action="checkDomainName">Отправить</button>
    <button type="submit" class="btn btn-success btn-next res-step-1 d-none">Далее</button>
</div>