@charset "UTF-8";
/* general styles
   ========================================================================== */
* {
  min-height: 0;
  min-width: 0; }

*::-moz-selection {
  background-color: #d0ecf5; }

*::selection {
  background-color: #d0ecf5; }

html {
  color: 　 #1C1D22; }

html, body {
  min-height: 100vh; }

body {
  line-height: 1.6;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0; }
  body.overflow-hidden {
    overflow: hidden; }

.main-content--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.content-padding {
  padding: 30px 0; }

.covered-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: block; }

/**
 * other general styles
 */
ul {
  list-style: none;
  padding-left: 0; }

a {
  text-decoration: none;
  color: #17A2B8; }
  a:hover, a:focus, a:visited {
    color: #17A2B8; }

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0; }

h1 {
  font-size: 1.3rem;
  text-transform: uppercase;
  line-height: 1.4rem; }
  @media (min-width: 50em) {
    h1 {
      font-size: 2rem;
      line-height: 2.1rem; } }

h2 {
  font-family: "PF Agora Slab Pro Bold", arial, sans-serif;
  font-size: 1.333rem;
  line-height: normal; }

h3 {
  font-size: 1.4rem;
  line-height: normal; }

h4 {
  font-size: 1.2rem;
  line-height: normal;
  letter-spacing: -.08rem; }

h5 {
  font-size: 1.4rem;
  line-height: normal;
  letter-spacing: -.05rem; }

h6 {
  font-size: 20px;
  line-height: normal;
  letter-spacing: 0;
  font-weight: normal; }

svg {
  width: 48px;
  height: 48px; }

@media (min-width: 70em) {
  h2 {
    font-size: 1.6rem; }
  h3 {
    font-size: 1.6rem;
    line-height: 1.6rem; }
  h4 {
    font-size: 1.2rem; }
  h5 {
    font-size: 1.2rem; }
  h6 {
    font-size: 1.1rem; } }

.container-header {
  border-bottom: 3px solid #28A745;
  display: inline-block;
  font-family: 'Roboto Light';
  margin: 5px 0 15px 0; }

.free-space {
  margin: 20px; }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Thin"), local("Roboto-Thin"), url("../../fonts/Roboto/Robotothin.woff2") format("woff2"), url("../../fonts/Roboto/Robotothin.woff") format("woff"), url("../../fonts/Roboto/Robotothin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Thin Italic';
  src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"), url("../../fonts/Roboto/Robotothinitalic.woff2") format("woff2"), url("../../fonts/Roboto/Robotothinitalic.woff") format("woff"), url("../../fonts/Roboto/Robotothinitalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Roboto Light';
  src: local("Roboto Light"), local("Roboto-Light"), url("../../fonts/Roboto/Robotolight.woff2") format("woff2"), url("../../fonts/Roboto/Robotolight.woff") format("woff"), url("../../fonts/Roboto/Robotolight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Light Italic';
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url("../../fonts/Roboto/Robotolightitalic.woff2") format("woff2"), url("../../fonts/Roboto/Robotolightitalic.woff") format("woff"), url("../../fonts/Roboto/Robotolightitalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Roboto-Regular';
  src: local("Roboto"), local("Roboto-Regular"), url("../../fonts/Roboto/Roboto.woff2") format("woff2"), url("../../fonts/Roboto/Roboto.woff") format("woff"), url("../../fonts/Roboto/Roboto.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Roboto-Italic';
  src: local("Roboto Italic"), local("Roboto-Italic"), url("../../fonts/Roboto/Robotoitalic.woff2") format("woff2"), url("../../fonts/Roboto/Robotoitalic.woff") format("woff"), url("../../fonts/Roboto/Robotoitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Roboto-Medium';
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../../fonts/Roboto/Robotomedium.woff2") format("woff2"), url("../../fonts/Roboto/Robotomedium.woff") format("woff"), url("../../fonts/Roboto/Robotomedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Roboto-MediumItalic';
  src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url("../../fonts/Roboto/Robotomediumitalic.woff2") format("woff2"), url("../../fonts/Roboto/Robotomediumitalic.woff") format("woff"), url("../../fonts/Roboto/Robotomediumitalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Roboto-Bold';
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../../fonts/Roboto/Robotobold.woff2") format("woff2"), url("../../fonts/Roboto/Robotobold.woff") format("woff"), url("../../fonts/Roboto/Robotobold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Roboto-BoldItalic';
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url("../../fonts/Roboto/Robotobolditalic.woff2") format("woff2"), url("../../fonts/Roboto/Robotobolditalic.woff") format("woff"), url("../../fonts/Roboto/Robotobolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'Roboto-Black';
  src: local("Roboto Black"), local("Roboto-Black"), url("../../fonts/Roboto/Robotoblack.woff2") format("woff2"), url("../../fonts/Roboto/Robotoblack.woff") format("woff"), url("../../fonts/Roboto/Robotoblack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Roboto-BlackItalic';
  src: local("Roboto Black Italic"), local("Roboto-BlackItalic"), url("../../fonts/Roboto/Robotoblackitalic.woff2") format("woff2"), url("../../fonts/Roboto/Robotoblackitalic.woff") format("woff"), url("../../fonts/Roboto/Robotoblackitalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

.header .navbar {
  background: #e3f2fd; }

@media (min-width: 37.5em) {
  .benefits {
    margin: 60px 0; } }

.step {
  position: relative;
  min-height: 1em;
  color: gray; }
  .step + .step {
    margin-top: 1em; }
  .step > div:first-child {
    position: static;
    height: 0; }
  .step > div:not(:first-child) {
    margin-left: 1.5em;
    padding-left: 1em; }
  .step.step-active {
    color: #4285f4; }
    .step.step-active .circle {
      background-color: #0062CC; }
    .step.step-active .caption {
      color: gray; }

/* Circle */
.circle {
  background: gray;
  position: relative;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  border-radius: 100%;
  color: #fff;
  text-align: center;
  -webkit-box-shadow: 0 0 0 3px #fff;
          box-shadow: 0 0 0 3px #fff; }

/* Vertical Line */
.step:last-child .circle:after {
  display: none; }

/* Stepper Titles */
.title {
  line-height: 1.5em;
  font-weight: bold; }

.caption {
  font-size: 0.8em;
  border-left: 1px solid #ccc;
  padding: 0 0 0 30px;
  margin: 10px 0 10px -30px; }

.card {
  border: none;
  border-radius: none; }

.accordion {
  width: 100%; }

.card-body {
  text-align: center; }

.text-muted {
  font-family: "Roboto", sans-serif; }

.card-text {
  font-family: "Roboto Light", sans-serif; }

.account-content {
  background: #fff;
  width: 100%;
  padding: 20px; }

.list-group {
  margin: 0 0 20px 0; }

.account-content_overlay {
  position: relative; }
  .account-content_overlay-disable:before {
    content: '';
    position: absolute;
    display: inline-block;
    background: #f4f4f4b3;
    width: 100%;
    height: 100%;
    z-index: 5; }

.account-content-item__line {
  padding: 15px 0; }
  .account-content-item__line_label {
    width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis; }
    @media (min-width: 37.5em) {
      .account-content-item__line_label {
        width: 500px; } }
  .account-content-item__line_lattice {
    width: 50px; }
  .account-content-item__line_actions {
    width: 100%; }

.account-content svg {
  width: 14px;
  height: 14px;
  margin: 0 5px 0 0; }

.account-content .dropdown-toggle:hover {
  cursor: pointer;
  color: #007BFF;
  -webkit-transition: all .2s ease;
  transition: all .2s ease; }

.register-app {
  background: #fff; }
  .register-app h1 {
    margin: 25px; }
  .register-app .btn-contolls button {
    margin: 0 20px 0 0; }

.auth {
  height: 100%; }
  .auth form {
    width: 100%; }

footer {
  padding: 20px;
  text-align: center; }

.flipswitch {
  position: relative;
  width: 81px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }
  .flipswitch input[type=checkbox] {
    display: none; }

.flipswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 5px; }

.flipswitch-inner {
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.1s ease-in 0s;
  transition: margin 0.1s ease-in 0s; }
  .flipswitch-inner:before, .flipswitch-inner:after {
    float: left;
    width: 50%;
    height: 24px;
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .flipswitch-inner:before {
    content: "Вкл";
    padding-left: 11px;
    background-color: #28A745;
    color: #FFFFFF; }
  .flipswitch-inner:after {
    content: "Выкл";
    padding-right: 11px;
    background-color: #6C757D;
    color: #FFFFFF;
    text-align: right; }

.flipswitch-switch {
  width: 24px;
  margin: 0px;
  background: #FFFFFF;
  border: 2px solid #999999;
  border-radius: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 55px;
  -webkit-transition: all 0.1s ease-in 0s;
  transition: all 0.1s ease-in 0s; }

.flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
  margin-left: 0; }

.flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
  right: 0; }

/*!
 * bsStepper v1.3.0 (https://github.com/Johann-S/bs-stepper)
 * Copyright 2018 Johann-S <johann.servoire@gmail.com>
 * Licensed under MIT (https://github.com/Johann-S/bs-stepper/blob/master/LICENSE)
 */
.bs-stepper {
  display: block;
  width: 100%; }
  .bs-stepper.vertical {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex; }
  .bs-stepper .bs-stepper-header {
    display: none; }
    @media (min-width: 64em) {
      .bs-stepper .bs-stepper-header {
        display: block;
        white-space: nowrap;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-align: center;
        -webkit-box-align: center;
                align-items: center; } }
  .bs-stepper.vertical .bs-stepper-header {
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -ms-flex-align: start;
    -webkit-box-align: start;
            align-items: flex-start; }
  .bs-stepper .bs-stepper-content {
    overflow: hidden;
    padding: 0 24px 24px 24px; }
  .bs-stepper .step {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    height: 72px;
    overflow: hidden;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
    outline: 0;
    position: relative;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    -webkit-tap-highlight-color: transparent; }
  .bs-stepper.vertical .step {
    width: 100%;
    padding: 0 12px; }
  .bs-stepper .step.active .bs-stepper-circle {
    background-color: #007bff; }
  .bs-stepper .step:hover .step-trigger:not(:disabled),
  .bs-stepper .step:hover a:not(:disabled),
  .bs-stepper .step:hover button:not(:disabled) {
    background-color: rgba(0, 0, 0, 0.06);
    cursor: pointer;
    text-decoration: none; }
  .bs-stepper .content.dstepper-block {
    display: block; }
  .bs-stepper .content.dstepper-none {
    display: none; }
  .bs-stepper.vertical .content.fade.dstepper-none {
    visibility: hidden; }
  .bs-stepper .content:not(.fade) {
    display: none; }
  .bs-stepper .content.active:not(.fade) {
    display: block; }
  .bs-stepper .content.fade {
    visibility: hidden;
    -webkit-transition-duration: .3s;
            transition-duration: .3s;
    -webkit-transition-property: opacity;
    transition-property: opacity; }
  .bs-stepper.vertical .content {
    visibility: hidden;
    display: inherit; }
  .bs-stepper .content.fade.active {
    visibility: visible;
    opacity: 1; }
  .bs-stepper.vertical .content.active {
    visibility: visible; }
  .bs-stepper .bs-stepper-circle {
    display: inline-block;
    color: #fff;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-right: 16px;
    text-align: center;
    line-height: 29px;
    background-color: #6c757d; }
  .bs-stepper .step .step-trigger,
  .bs-stepper .step a,
  .bs-stepper .step button {
    text-align: center;
    text-decoration: none;
    padding: 24px; }
  .bs-stepper .step .step-trigger:focus,
  .bs-stepper .step a:focus,
  .bs-stepper .step button:focus {
    text-decoration: none; }
  .bs-stepper .step .step-trigger .bs-stepper-label,
  .bs-stepper .step a .bs-stepper-label,
  .bs-stepper .step button .bs-stepper-label {
    font-weight: 600;
    color: #212529;
    display: inline-block; }
  .bs-stepper.linear .step:not(.active) .step-trigger .bs-stepper-label,
  .bs-stepper.linear .step:not(.active) a .bs-stepper-label,
  .bs-stepper.linear .step:not(.active) button .bs-stepper-label {
    color: rgba(0, 0, 0, 0.38); }
  .bs-stepper .line {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    -ms-flex: auto;
    -webkit-box-flex: 1;
            flex: auto;
    height: 0;
    min-width: 32px; }
  .bs-stepper.vertical .line {
    min-height: 32px;
    width: 0;
    min-width: 0;
    border-top: none;
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    margin-right: auto;
    margin-left: auto; }

@media (max-width: 768px) {
  .bs-stepper:not(.vertical) {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex; }
    .bs-stepper:not(.vertical) .bs-stepper-header {
      -ms-flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -ms-flex-align: start;
      -webkit-box-align: start;
              align-items: flex-start; }
    .bs-stepper:not(.vertical) .step {
      width: 100%;
      padding: 0 12px; }
    .bs-stepper:not(.vertical) .line {
      min-height: 32px;
      width: 0;
      min-width: 0;
      border-top: none;
      border-left: 1px solid rgba(0, 0, 0, 0.12);
      margin-right: auto;
      margin-left: auto; }
    .bs-stepper:not(.vertical) .content.active {
      visibility: visible; }
    .bs-stepper:not(.vertical) .content:not(.active), .bs-stepper:not(.vertical) .content:not(.fade):not(.active) {
      visibility: hidden;
      display: unset; } }
