<div class="account-content-item__title border-bottom">
    <h2>Общие настройки </h2>
</div>
{{!-- <div class="account-content-item border-bottom">
    <div class="account-content-item__line d-flex justify-content-start">
        <div class="account-content-item__line_label">Логин</div>
        <div class="account-content-item__line_actions d-flex justify-content-between setting_info_block">
            <div class="account-content-item__line_data ">{{user.}}</div>
            <div class="account-content-item__line_action">
                <a href="#" class="setting_info_block_button">Изменить</a>
            </div>
        </div>
        <div class="account-content-item__line_actions d-none justify-content-between setting_change_block">
            <div class="account-content-item__line_settings">
                <input class="form-control form-control-sm" type="text" placeholder="new login">
                <button type="button" class="btn btn-primary btn-sm my-2">Сохранить</button>
            </div>
            <div class="account-content-item__line_action">
                <a href="#" class="settings_change_block_button">Отмена</a>
            </div>
        </div>
    </div>
</div>  --}}
<div class="account-content-item border-bottom">
    <div class="account-content-item__line d-flex justify-content-start">
        <div class="account-content-item__line_label">Email:</div>
        <div class="account-content-item__line_actions d-flex justify-content-between">
            <div class="account-content-item__line_data">{{user.email}}</div>
        </div>
    </div>
</div>

<div class="account-content-item border-bottom">
        <div class="account-content-item__line d-flex justify-content-start">
            <div class="account-content-item__line_label">Пароль:</div>
            <div class="account-content-item__line_actions d-flex justify-content-between setting_info_block">
                <div class="account-content-item__line_data ">Обновлен 5 дней назад</div>
                <div class="account-content-item__line_action">
                    <a href="#" class="setting_info_block_button">Изменить</a>
                </div>
            </div>
            <div class="account-content-item__line_actions d-none justify-content-between setting_change_block">
                <div class="account-content-item__line_settings">
                    <input class="form-control form-control-sm my-2" type="password" placeholder="Old password">
                    <input class="form-control form-control-sm" type="password" placeholder="New Password">
                    <button type="button" class="btn btn-primary btn-sm my-2">Сохранить</button>
                </div>
                <div class="account-content-item__line_action">
                    <a href="#" class="settings_change_block_button">Отмена</a>
                </div>
            </div>
        </div>
    </div>