.user-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start
}

.dropdown-menu{
  padding: 10px;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(140,140,140,1);
  -moz-box-shadow: 0px 5px 15px 0px rgba(140,140,140,1);
  box-shadow: 0px 5px 15px 0px rgba(140,140,140,1);
  .drop-menu_line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    margin: 0 0 5px 0;
    border-bottom: 1px solid #ccc;
    padding: 7px;
    .form-control{
      padding: 4px;
      height: 28px;
    }
    &_name{
      width: 285px
    }
    &_value{
      width: 100px
    }
  }
}

.account-content {
  &_overlay {
    position: relative;

    &-disable {
      &:before {
        content: '';
        position: absolute;
        display: inline-block;
        background: #f4f4f4b3;
        width: 100%;
        height: 100%;
        z-index: 5;
      }
    }
  }

  &_log {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
  }

  &-item {
    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
    &__line {
      padding: 15px 0;

      &_label {
        width: 180px;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;

        @include breakpoint(phablet) {
          width: 500px;
        }
      }

      &_lattice {
        width: 50px;
      }

      &_actions {
        width: 100%;
        button{
          border: 1px solid #ccc;
          margin: 0 auto;
          .animate-rotate{
            -webkit-animation: spin 2s linear infinite;
            -moz-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
          }
          svg {
            margin: -7px 0 0 -1px;
            width: 17px;
            height: 14px;
          }
        }
      }
    }
  }

  svg {
    width: 14px;
    height: 14px;
    margin: 0 5px 0 0;
  }

  .dropdown-toggle {
    &:hover {
      cursor: pointer;
      color: #007BFF;
      transition: all .2s ease
    }
  }
}

.flipswitch {
  position: relative;
  width: 86px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select: none;
}
.flipswitch input[type=checkbox] {
  width: 100%;
  height: 27px;
  border: 1px solid red;
  display: block!important;
  opacity: 0;
  position: absolute;
  &:hover{
    cursor: pointer;
  }
}
.flipswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 10px;
}
.flipswitch-inner {
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.3s ease-in 0s;
  -moz-transition: margin 0.3s ease-in 0s;
  -ms-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}
.flipswitch-inner:before, .flipswitch-inner:after {
  float: left;
  width: 50%;
  height: 24px;
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.flipswitch-inner:before {
  content: "ВКЛ";
  padding-left: 8px;
  background-color: #69E733;
  color: #FFFFFF;
}
.flipswitch-inner:after {
  content: "ВЫКЛ";
  padding-right: 8px;
  background-color: #E72929;
  color: #FFFFFF;
  text-align: right;
}
.flipswitch-switch {
  width: 23px;
  margin: 0.5px;
  background: #FFFFFF;
  border: 2px solid #999999;
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 61px;
  -webkit-transition: all 0.3s ease-in 0s;
  -moz-transition: all 0.3s ease-in 0s;
  -ms-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
  margin-left: 0;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
  right: 0;
}

.btn-save-settings{
  margin: 15px 0;
}
