<div class="btn-group dropleft">
    <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Действия
    </span>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" class="si-glyph-pause">
                <use xlink:href="img/svg/sprite.svg#si-glyph-pause" />
            </svg>
            <span>
                Приостановить
            </span>
        </a>
        <a class="dropdown-item" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" class="si-glyph-edit">
                <use xlink:href="img/svg/sprite.svg#si-glyph-edit" />
            </svg>
            <span>
                Редактировать
            </span>
        </a>
        <a class="dropdown-item" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" class="si-glyph-document-bullet-list">
                <use xlink:href="img/svg/sprite.svg#si-glyph-document-bullet-list" />
            </svg>
            <span>
                Логи
            </span>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" class="si-glyph-delete">
                <use xlink:href="img/svg/sprite.svg#si-glyph-delete" />
            </svg>
            <span>
                Удалить
            </span>
        </a>
    </div>
</div>