<div class="list-group" id="instruction" role="tablist">
    <a class="list-group-item list-group-item-action active" data-toggle="list" href="#instruction-connect" role="tab">Подключение</a>
    <a class="list-group-item list-group-item-action" data-toggle="list" href="#instruction-account" role="tab">Аккаунт</a>
    <a class="list-group-item list-group-item-action" data-toggle="list" href="#instruction-settings" role="tab">Настройки</a>
</div>