<div class="tab-content instruction_content_wrapper">
  <div class="tab-pane active" id="instruction-connect" role="tabpanel">
    <section class="instruction_step-item">
      <h1 class="display-h3">
        Подключение вашего приложения
      </h1>
      <p>Для того, что бы внести ваш веб-ресурс в базу данных сервиса регулярной смены пароля пользователей, необходимо
        зарегистрировать Ваше приложение.</p>
      <p>Перейдите на страницу регистрации приложения по адресу <a
          href="https://localhost:8000/app/add">https://localhost:8000/app/add</a> [Скриншот 1].</p>
      <p>
        <img src="img/step1.png" alt="">
        <div class="instruction_content_caption">Рис. 1 — Страница регистрации приложения</div>
      </p>
    </section>
    <div class="confidentialy">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                      aria-expanded="true" aria-controls="collapseOne">
                      Шаг 1
                    </button>
                  </h5>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                  data-parent="#accordionExample">
                  <div class="card-body">
                    <section class="instruction_step-item">
                      <p>
                        В поле <span class="instruction_content_cursive text-info">Ссылка на сайт</span> необходимо
                        ввести адрес Вашего
                        веб-ресурса.
                      </p>
                      <p>
                        Обзятаельно должно быть соблюден шаблон ссылки, иначе вы не сможете пройти проверку вашего
                        домена.
                      </p>
                      <p>
                        Необходимо соблюсти следующие правила:
                        <ul>
                          <li>
                            Ссылка должна начинаться с
                            <span class="instruction_content_cursive text-info">http://</span>
                            или с
                            <span class="instruction_content_cursive text-info">https://</span>
                          </li>
                          <li>
                            В конце ссылки должна быть корректно указана доменная зона. Например: <span
                              class="instruction_content_cursive text-info">*.com, *.ru</span>
                          </li>
                          <li>
                            Запрещено в конце url использовать символ <span
                              class="instruction_content_cursive text-info">/</span>.
                            Например: http://domain.com<span class="instruction_content_cursive text-info">/</span>
                          </li>
                          <li>
                            Запрещено указывать вложенные url. Например: http://domain.com<span
                              class="instruction_content_cursive text-info">/three/some/</span></li>
                          </li>
                        </ul>
                        <p>Примеры корректных ссылок</p>
                        <ul>
                          <li>
                            <span class="text-success">http://domain.com</span>
                          </li>
                          <li>
                            <span class="text-success">https://domain.ru</span>
                          </li>
                        </ul>
                        <p>Примеры не корректных ссылок</p>
                        <ul>
                          <li>
                            <span class="text-danger">domain.com/</span>
                          </li>
                          <li>
                            <span class="text-danger">domain.ru</span>
                          </li>
                          <li>
                            <span class="text-danger">domain.ru/some</span>
                          </li>
                          <li>
                            <span class="text-danger">http://domain.ru/some</span>
                          </li>
                        </ul>
                        <p>После того, как url вышего приложение был введен, нужно нажать кнопку <span
                            class="instruction_content_cursive text-info">Отправить</span>.</p>
                        <p>Если после проверки отобразилось сообщение <span class="text-danger">Ошибка! ...</span> то
                          следует
                          перепроверить введенный Вами Url и повторить проверку снова.</p>
                        <p>
                          <img src="img/step1_2.png" alt="">
                          <div class="instruction_content_caption">Рис. 2 — Сообщение об ошибке.</div>
                        </p>
                        <p>Если после проверки отобразилось сообщение <span class="text-success">Успех! Url
                            сохранен!</span> можно
                          переходить к следующему шагу.</p>
                        <p>
                          <img src="img/step1_1.png" alt="">
                          <div class="instruction_content_caption">Рис. 3 — Сообщение об успехе.</div>
                        </p>
                      </p>
                    </section>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                      data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Шаг 2
                    </button>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                    assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                    sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                    labore sustainable VHS.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                      data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Шаг 3
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                    assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                    sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                    labore sustainable VHS.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="instruction-account" role="tabpanel">
    222
  </div>
  <div class="tab-pane" id="instruction-settings" role="tabpanel">
    333
  </div>
</div>