<h2>Настройки внешнего вида</h2>
<p>Настройка внешнего вида нашего виджета для встраивания на Ваш сайт.</p>
<div class="tab-view-settings">
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        Опции
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                    assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                    nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                    labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        Вид кнопок
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                    assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                    nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                    labore sustainable VHS.
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="account-content-item__title border-bottom">
    <h2>Результат:</h2>
    <div class="account-content-item border-bottom">
        <div class="account-content-item__line d-flex justify-content-between">
            <div class="">
                <svg xmlns="http://www.w3.org/2000/svg" class="si-glyph-circle-info" data-container="body" data-toggle="popover"
                    data-placement="right" title="Активация функции" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                    <use xlink:href="img/svg/sprite.svg#si-glyph-circle-info" />
                </svg>
                <span>
                    Активировать данную функцию?
                </span>
            </div>
            <div class="">
                <div class="flipswitch">
                    <input type="checkbox" name="flipswitch" class="flipswitch-cb" id="securityIsActive">
                    <label class="flipswitch-label" for="securityIsActive">
                        <div class="flipswitch-inner"></div>
                        <div class="flipswitch-switch"></div>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="account-content_overlay">
        <div class="account-content-item border-bottom">
            <div class="account-content-item__line d-flex justify-content-between">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="si-glyph-circle-info" data-container="body"
                        data-toggle="popover" data-placement="right" title="Длина пароля" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                        <use xlink:href="img/svg/sprite.svg#si-glyph-circle-info" />
                    </svg>
                    <span>
                        Длина пароля (мин. 8 символов)
                    </span>
                </div>
                <div>
                    <input type="number" class="form-control" id="exampleFormControlInput1" min="8" max="30"
                        placeholder="10">
                </div>
            </div>
        </div>
        <div class="account-content-item border-bottom">
            <div class="account-content-item__line d-flex justify-content-between">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="si-glyph-circle-info" data-container="body"
                        data-toggle="popover" data-placement="right" title="Цифры" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                        <use xlink:href="img/svg/sprite.svg#si-glyph-circle-info" />
                    </svg>
                    <span>
                        Использовать цифры
                    </span>
                </div>
                <div>
                    <div class="flipswitch">
                        <input type="checkbox" name="flipswitch" class="flipswitch-cb" id="input_2">
                        <label class="flipswitch-label" for="input_2">
                            <div class="flipswitch-inner"></div>
                            <div class="flipswitch-switch"></div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="account-content-item border-bottom">
            <div class="account-content-item__line d-flex justify-content-between">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="si-glyph-circle-info" data-container="body"
                        data-toggle="popover" data-placement="right" title="Спец. символы" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                        <use xlink:href="img/svg/sprite.svg#si-glyph-circle-info" />
                    </svg>
                    <span>
                        Использовать спец. символы (!/_.)
                    </span>
                </div>
                <div>
                    <div class="flipswitch">
                        <input type="checkbox" name="flipswitch" class="flipswitch-cb" id="input_3">
                        <label class="flipswitch-label" for="input_3">
                            <div class="flipswitch-inner"></div>
                            <div class="flipswitch-switch"></div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="account-content-item border-bottom">
            <div class="account-content-item__line d-flex justify-content-between">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="si-glyph-circle-info" data-container="body"
                        data-toggle="popover" data-placement="right" title="Заглавные символы" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                        <use xlink:href="img/svg/sprite.svg#si-glyph-circle-info" />
                    </svg>
                    <span>
                        Использовать заглавные символы
                    </span>
                </div>
                <div>
                    <div class="flipswitch">
                        <input type="checkbox" name="flipswitch" class="flipswitch-cb" id="input_4">
                        <label class="flipswitch-label" for="input_4">
                            <div class="flipswitch-inner"></div>
                            <div class="flipswitch-switch"></div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="account-content-item border-bottom">
            <div class="account-content-item__line d-flex justify-content-between">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="si-glyph-circle-info" data-container="body"
                        data-toggle="popover" data-placement="right" title="Похожие символы" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                        <use xlink:href="img/svg/sprite.svg#si-glyph-circle-info" />
                    </svg>
                    <span>
                        Исключать похожие символы, такие как «i» и «l».
                    </span>
                </div>
                <div>
                    <div class="flipswitch">
                        <input type="checkbox" name="flipswitch" class="flipswitch-cb" id="input_5">
                        <label class="flipswitch-label" for="input_5">
                            <div class="flipswitch-inner"></div>
                            <div class="flipswitch-switch"></div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="account-content-item border-bottom">
            <div class="account-content-item__line d-flex justify-content-between">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="si-glyph-circle-info" data-container="body"
                        data-toggle="popover" data-placement="right" title="Исключение символов" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                        <use xlink:href="img/svg/sprite.svg#si-glyph-circle-info" />
                    </svg>
                    <span>
                        Исключить из пароля символы
                    </span>
                </div>
                <div>
                    <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="abc/.">
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary free-space">Сохранить</button>
</div>
<div class="tab-view_download">
    <a href="#">Скачать css и html</a>
    <a href="#">Скопировать html и css</a>
</div>