<h2>Настройки сайта <a href="http://mysite.ru">http://mysite.ru</a></h2>
<div class="account-content-item border-bottom">
    <div class="account-content-item__line d-flex justify-content-start">
        <div class="account-content-item__line_label">Домен:</div>
        <div class="account-content-item__line_actions d-flex justify-content-between">
            <div class="account-content-item__line_data"><a href="http://mysite.ru">http://mysite.ru</a></div>
        </div>
    </div>
</div>
<div class="account-content-item border-bottom">
    <div class="account-content-item__line d-flex justify-content-start">
        <div class="account-content-item__line_label">Статус APC:</div>
        <div class="account-content-item__line_actions d-flex justify-content-between setting_info_block">
            <div class="account-content-item__line_data "><span class="text-success">Активно</span></div>
            <div class="account-content-item__line_action">
                <a href="#" class="setting_info_block_button">Изменить</a>
            </div>
        </div>
        <div class="account-content-item__line_actions d-none justify-content-between setting_change_block">
            <div class="account-content-item__line_settings">
                <select class="form-control">
                    <option>Активно</option>
                    <option>Приостановить</option>
                </select>
                <button type="button" class="btn btn-primary btn-sm my-2">Сохранить</button>
            </div>
            <div class="account-content-item__line_action">
                <a href="#" class="settings_change_block_button">Отмена</a>
            </div>
        </div>
    </div>
</div>
<div class="account-content-item border-bottom">
    <div class="account-content-item__line d-flex justify-content-start">
        <div class="account-content-item__line_label">Статус соединения с БД:</div>
        <div class="account-content-item__line_actions d-flex justify-content-between">
            <div class="account-content-item__line_data"><span class="text-success">ОК</span></div>
            <div class="account-content-item__line_action">
                <a href="#">Настройки БД</a>
            </div>
        </div>
    </div>
</div>
<div class="account-content-item border-bottom">
    <div class="account-content-item__line d-flex justify-content-start">
        <div class="account-content-item__line_label">Количество юзеров:</div>
        <div class="account-content-item__line_actions d-flex justify-content-between">
            <div class="account-content-item__line_data">10</div>
        </div>
    </div>
</div>
<div class="account-content-item border-bottom">
    <div class="account-content-item__line d-flex justify-content-start">
        <div class="account-content-item__line_label">Последние действия:</div>
        <div class="account-content-item__line_actions d-flex justify-content-between">
            <div class="account-content-item__line_data">01.01.2018 01PM</div>
        </div>
    </div>
</div>