<div class="tab-content">
    <div class="tab-pane active" id="settings-main" role="tabpanel">
        {{> chunks/account/settings-blocks/set-main}}
    </div>
    <div class="tab-pane" id="setting-sites" role="tabpanel">
        {{> chunks/account/settings-blocks/set-mysites}}
    </div>
    <div class="tab-pane" id="settings-security" role="tabpanel">
        {{> chunks/account/settings-blocks/set-security}}
    </div>
</div>