<div class="list-group" id="myList" role="tablist">
    <a class="list-group-item list-group-item-action active" data-toggle="list" href="#settings-main" role="tab">Общее</a>
    <a class="list-group-item list-group-item-action" data-toggle="list" href="#setting-sites" role="tab">Мои сайты</a>
    <a class="list-group-item list-group-item-action" data-toggle="list" href="#settings-security" role="tab">Безопасность</a>
</div>
<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-success">Добавить сайт</button>
</div>